---
---
<section id="about" class="bg-white/30 py-12">
    <div class="container mx-auto px-2 md:px-40">
        <div class="flex flex-wrap items-center">
            <div class="w-full">
                <h2 class="text-3xl font-bold text-gray-800">About Me</h2>
                <p class="mt-4 text-lg text-gray-600">
                  Hello, I have already contributed to more than 100+
                  Software development projects. I can develop any type of Webapp , Website and Mobile app. I enjoy Turning complex problems into 
                  simple, elegant and intuitive designs.
                </p>
                <p class="mt-2 text-lg text-gray-600">
                    Today, my role has evolved to Full-Stack development and mobile app development, where I enjoy the challenge of building 
                    scalable solutions. My aim is to not only deliver attractive and effective websites and apps but to also infuse each project 
                    with a personal touch, ensuring that each product stands out and resonates with its intended audience.
                </p>
                <p class="mt-2 text-lg text-gray-600">
                    I am committed to leveraging my skill set to bring your vision to life, making sure that each project
                    I undertake is met with utmost attention to detail and creativity. Let's build something great together.
                </p>
            </div>
        </div>
    </div>
</section>
