---

import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-white/20 backdrop-blur-lg shadow-md mx-4 md:mx-20 my-2 px-4 md:my-4 rounded-xl md:rounded-full sticky top-2 z-50">
    <nav class="flex items-center justify-between flex-wrap p-2 md:px-20 px-2">
        <h2 class="text-black">
            <a href="/" class="font-semibold text-2xl text-black hover:text-gray-700">{SITE_TITLE}</a>
        </h2>
        <div class="block lg:hidden">
            <button class="hamburger flex items-center px-3 py-2 border rounded text-black border-black" aria-label="Toggle menu" aria-expanded="false">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        <div class="links-container hidden w-full flex-col flex-grow lg:flex-row lg:flex lg:items-center lg:w-auto pl-4 ">
            <div class="text-xl lg:flex-grow lg:mx-auto text-left md:text-center flex flex-col md:block">
                <HeaderLink href="/resume" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">Work Experience</HeaderLink>
                <HeaderLink href="/projects" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">Projects</HeaderLink>
                <HeaderLink href="/blog" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">Blog</HeaderLink>
                <HeaderLink href="/terminal" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black">Terminal</HeaderLink>
            </div>
            <div>
                <a href="https://github.com/Kythonlk/kythonlk_portfolio" target="_blank" class="inline-block text-lg px-4 py-2 leading-none border rounded text-black border-black mt-4 lg:mt-0">GitHub Repo</a>
            </div>
        </div>
    </nav>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.querySelector('.hamburger');
    const linksContainer = document.querySelector('.links-container');

    hamburger.addEventListener('click', () => {
        const expanded = hamburger.getAttribute('aria-expanded') === 'true' || false;
        hamburger.setAttribute('aria-expanded', !expanded);
        linksContainer.classList.toggle('hidden');
        linksContainer.classList.toggle('flex');
    });
});
</script>
