---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-white/02 backdrop-blur-lg shadow-md sticky top-0 z-50">
    <nav class="flex items-center justify-between flex-wrap p-2 md:px-20 px-2">
        <h2 class="text-black">
            <a href="/" class="font-semibold text-2xl text-black hover:text-gray-700">{SITE_TITLE}</a>
        </h2>
        <div class="block lg:hidden">
            <button class="hamburger flex items-center px-3 py-2 border rounded text-black border-black" aria-label="Toggle menu" aria-expanded="false">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        <div class="links-container hidden w-full  flex-grow lg:flex lg:items-center  lg:w-auto">
            <div class="text-xl lg:flex-grow lg:mx-auto text-center">
                <HeaderLink href="/resume" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">Work Experience</HeaderLink>
                <HeaderLink href="/projects" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">Projects</HeaderLink>
                <HeaderLink href="/contact" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">Contact</HeaderLink>
                <HeaderLink href="/terminal" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black">Terminal</HeaderLink>
            </div>
            <div>
                <a href="https://twitter.com/kythonlk" target="_blank" class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black mt-4 lg:mt-0">Follow on Twitter</a>
                <a href="https://github.com/Kythonlk/New-portfolio" target="_blank" class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black mt-4 lg:mt-0">GitHub Repo</a>
            </div>
        </div>
    </nav>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.querySelector('.hamburger');
    const linksContainer = document.querySelector('.links-container');

    hamburger.addEventListener('click', () => {
        const expanded = hamburger.getAttribute('aria-expanded') === 'true' || false;
        hamburger.setAttribute('aria-expanded', !expanded);
        linksContainer.classList.toggle('hidden');
        linksContainer.classList.toggle('flex');
    });
});
</script>
