<div class="container mx-auto px-4 md:px-12 xl:px-24 py-12 md:py-24">
    <div class="hero-wrapper grid grid-cols-1 md:grid-cols-12 gap-8 items-center">
          <div class="hero-image col-span-10 md:col-span-6 md:order-1">
              <img src="/s.JPG" alt="Kavindu Harshana" class="md:mx-auto md:transform md:translate-x w-80 lg:w-[500px] rounded-lg shadow-2xl" />
          </div>
        <div class="hero-text col-span-10 md:col-span-6 md:order-2">
            <h1 class="text-4xl md:text-5xl xl:text-6xl font-bold leading-tight">
                Hi, I'm Kavindu Harshana
            </h1>
            <p class="text-xl mt-6">
            A Full-Stack Developer with nearly 5 years of experience .</br>
            I work with Go lang in backend, React in frontend</br> and Wordpress as CMS. 
            </p>
            <div class="flex flex-col md:flex-row mt-8 gap-4">
              <a href="/projects" class="bg-white text-gray-800 font-semibold py-2 px-4 rounded shadow">
                View My Projects
              </a>
              <a href="#contact" class="text-gray-800  py-2 px-4 rounded shadow bg-transparent border-2 hover:bg-white hover:text-gray-800 font-semibold">
                Get In Touch
              </a>
            </div>
        </div>
    </div>
</div>
