---
const baseUrl = "https://simpleicons.org/icons";
---

<section class="py-12 bg-gray-900/30 text-white">
  <div class="container mx-auto px-4">
    <h2 class="text-white text-3xl font-bold text-center mb-8">Development Tools</h2>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
      <div class="p-6 flex flex-col items-center justify-center">
      <h2 class="text-white text-2xl font-bold mb-4">OS</h2>
        <img
          src={baseUrl + "/debian.svg"}
          alt="Linux"
          class="w-12 h-12 mb-4"
        />
        <h3 class="text-xl font-semibold">Debian</h3>
      </div>
            <div class="p-6 flex flex-col items-center justify-center">
      <h2 class="text-white text-2xl font-bold mb-4">Code Editor</h2>
        <img
          src={baseUrl + "/neovim.svg"}
          alt="Linux"
          class="w-12 h-12 mb-4"
        />
        <h3 class="text-xl font-semibold">NeoVim</h3>
      </div>

      <div class="p-6 flex flex-col items-center justify-center">
      <h2 class="text-white text-2xl font-bold mb-4">API Testing</h2>
        <img
          src={baseUrl + "/httpie.svg"}
          alt="Linux"
          class="w-12 h-12 mb-4"
        />
        <h3 class=" text-xl font-semibold">Httpie</h3>
      </div>
      <div class="p-6 flex flex-col items-center justify-center">
      <h2 class="text-white text-2xl font-bold mb-4">Designing</h2>
        <img
          src={baseUrl + "/figma.svg"}
          alt="Linux"
          class="w-12 h-12 mb-4"
        />
        <h3 class="text-xl font-semibold">Figma</h3>
      </div>
      <div class="p-6 flex flex-col items-center justify-center">
      <h2 class="text-white text-2xl font-bold mb-4">Mangement</h2>
        <img
          src={baseUrl + "/libreoffice.svg"}
          alt="Linux"
          class="w-12 h-12 mb-4"
        />
        <h3 class="text-xl font-semibold">Libre Office</h3>
      </div>
    </div>
  </div>
</section>

