---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>

body {
    background-image: url('https://kythonlk.com/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    </style>
	</head>
	<body class="text-gray-800">
		<Header />
    <slot />
		<Footer />
	</body>
</html>
